<?xml version="1.0"?>
<!-- 
/**
 * @category   Webkul
 * @package    Webkul_MpFavouriteSeller
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mp_product_save_after">
        <observer name="webkul_mpfavouriteseller_mp_product_save_after" instance="Webkul\MpFavouriteSeller\Observer\MpProductSaveAfter" />
    </event>
</config>