<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Directory\Model\PriceCurrency">
        <plugin name="mbattain_directory_model_pricecurrency" type="Mbattain\PriceDecimal\Model\Plugin\PriceCurrency" />
    </type>
    <type name="Magento\Sales\Api\Data\OrderInterface">
        <plugin name="mbattain_price_decimal_for_orders" type="Mbattain\PriceDecimal\Model\Plugin\OrderPlugin" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Framework\Locale\FormatInterface">
        <plugin name="mbattain_price_decimal_local_format" type="Mbattain\PriceDecimal\Model\Plugin\Local\Format" sortOrder="10" disabled="false"/>
    </type>
</config>
