<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MarketplacePreorder
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                 <resource id="Webkul_Marketplace::marketplace" title="Marketplace Management" sortOrder="10" >
                    <resource id="Webkul_Marketplace::menu" title="Menu" sortOrder="10">
                        <!--<resource id="Webkul_MarketplacePreorder::menu" title="Preorder Menu" sortOrder="20">-->
                            <resource id="Webkul_MarketplacePreorder::index" title="Preorder List" sortOrder="21" />
                            <resource id="Webkul_MarketplacePreorder::preorder" title="Preorder Menu" sortOrder="20" />
                        <!--</resource>-->
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Webkul_MarketplacePreorder::config_preorder" title="Marketplace Preorder" sortOrder="51" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>