<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MarketplacePreorder
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="preorder_price" instance="Webkul\MarketplacePreorder\Observer\PreorderPrice" />
    </event>
    <event name="controller_action_predispatch">
        <observer name="preorder_cart_router" instance="Webkul\MarketplacePreorder\Observer\CartAddRouter" />
    </event>
    <event name="checkout_cart_add_product_complete">
        <observer name="after_product_tocart" instance="Webkul\MarketplacePreorder\Observer\AfterAddProductToCart" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="preorder_afterplaceorder" instance="Webkul\MarketplacePreorder\Observer\AfterPlaceOrder" />
    </event>
    <event name="checkout_cart_update_items_after">
        <observer name="updatepreordercart" instance="Webkul\MarketplacePreorder\Observer\UpdateCart" />
    </event>
    <event name="mp_product_save_after">
        <observer name="preorder_after_save_product" instance="Webkul\MarketplacePreorder\Observer\AfterSaveProduct"/>
    </event>
    <event name="sales_quote_address_collect_totals_after">
        <observer name="modifi_tax_preorder" instance="Webkul\MarketplacePreorder\Observer\ModifiTaxPreorder"/>
    </event>
</config>