<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpfreeshipping
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <mpfreeshipping>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <allowed_methods>delivery</allowed_methods>
                <method_title>Webkul Free Shipping</method_title>
                <model>Webkul\Mpfreeshipping\Model\Carrier</model>
                <title>Marketplace Free Shipping</title>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </mpfreeshipping>
        </carriers>
    </default>
</config>
