<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MobikulMp
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Controller\Result\Json" type="Webkul\MobikulMp\Controller\Framework\Result\Json" />
    <type name="Webkul\Mobikul\Controller\Customer\Login">
        <plugin name="MobikulLoginAfterPlugin" type="Webkul\MobikulMp\Plugin\Controller\Customer\Login" sortOrder="1"/>
    </type>
    <type name="Webkul\Mobikul\Controller\Customer\CreateAccount">
        <plugin name="MobikulCreateAccountAroundPlugin" type="Webkul\MobikulMp\Plugin\Controller\Customer\CreateAccount" sortOrder="1"/>
    </type>
    <type name="Webkul\Mobikul\Controller\Catalog\ProductPageData">
        <plugin name="MobikulProductPageAfterPlugin" type="Webkul\MobikulMp\Plugin\Controller\Catalog\ProductPageData" sortOrder="1"/>
    </type>
</config>